---
import '../styles/global.css'
import Button from '~/components/Button.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>OpenProps</h2>

		<details>
			<summary>Tasks</summary>
			<ul>
				<li>Change the bg gradient</li>
				<li>Remove normalize</li>
				<li>Try the typography variables</li>
				<li>Add some animation</li>
				<li>Try some shadows</li>
				<li>Make a card</li>
			</ul>
		</details>

		<Button label="Demo" />
	</body>
</html>
